services:
  peer4:
    command:
    - '1.0'
    - '9'
    - 0.0.0.0:3004
    - peer2:3002
    networks:
    - peer-network
    build: .
  peer2:
    command:
    - '0.0'
    - '9'
    - 0.0.0.0:3002
    - peer1:3001
    - peer7:3007
    networks:
    - peer-network
    build: .
  peer1:
    command:
    - '0.0'
    - '9'
    - 0.0.0.0:3001
    - peer8:3008
    networks:
    - peer-network
    build: .
  peer7:
    command:
    - '0.0'
    - '9'
    - 0.0.0.0:3007
    networks:
    - peer-network
    build: .
  peer5:
    command:
    - '0.0'
    - '9'
    - 0.0.0.0:3005
    - peer2:3002
    networks:
    - peer-network
    build: .
  peer8:
    command:
    - '0.0'
    - '9'
    - 0.0.0.0:3008
    - peer3:3003
    networks:
    - peer-network
    build: .
  peer3:
    command:
    - '0.0'
    - '9'
    - 0.0.0.0:3003
    networks:
    - peer-network
    build: .
  peer0:
    command:
    - '0.0'
    - '9'
    - 0.0.0.0:3000
    - peer8:3008
    networks:
    - peer-network
    build: .
  peer6:
    command:
    - '0.0'
    - '9'
    - 0.0.0.0:3006
    - peer5:3005
    networks:
    - peer-network
    build: .
networks:
  peer-network:
    driver: bridge
